#app {
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* text-align: center;
    color: #2c3e50;
    margin-top: 60px; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #1c1819;
}

ul,
li {
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;
}
